Source: pysimplesoap
Section: python
Priority: optional
Maintainer: Sandro Tosi <morph@debian.org>
Uploaders: Debian Python Team <team+python@tracker.debian.org>,
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3,
               python3-setuptools,
Standards-Version: 4.6.1
Homepage: https://github.com/pysimplesoap/pysimplesoap/
Vcs-Git: https://salsa.debian.org/python-team/packages/pysimplesoap.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/pysimplesoap

Package: python3-pysimplesoap
Architecture: all
Depends: python3-httplib2,
         python3-pycurl,
         ${misc:Depends},
         ${python3:Depends},
Description: simple and lightweight SOAP Library (Python 3)
 Python simple and lightweight SOAP library for client and server webservices
 interfaces, aimed to be as small and easy as possible, supporting most common
 functionality. Initially it was inspired by PHP Soap Extension (mimicking its
 functionality, simplicity and ease of use), with many advanced features added.
 .
 This package contains the Python 3 version of pysimplesoap .
