#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_install:
	python3 setup.py install --root=debian/python3-pysimplesoap --install-layout=deb

	rm -rf debian/python*-pysimplesoap/usr/lib/python*/dist-packages/*.egg-info/

override_dh_installdocs:
	dh_installdocs -A README.md

override_dh_installexamples:
	dh_installexamples -A samples/*

override_dh_compress:
	dh_compress -X.py
